@import "base/extends";
@import "base/mapas";
@import "base/mediaQuery";
@import "base/mixins";
@import "base/variables";
@import "components/contacto";
@import "components/footer";
@import "components/header";
@import "components/index";
@import "components/main";
@import "components/menu";
@import "components/nosotros";
@import "components/nuestroEspacio";
@import "components/productos";
@import "components/reservas";


*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%; /*1rem = 10px*/
}

.bodyPC{
    background-color: $dark-color;
}



