@import "../base/variables";

.footerPC{
    background-color: $dark-color;
    display: flex;
    flex-wrap: wrap;
}
.redesPC{
    display: flex;
    list-style: none;
    margin-top: 2rem;
    li{
        margin-top: 2%;
        margin-left: 1%;
    }   
}
