@import "../base/variables";
@import "../base/mixins";


@media only screen and (min-width:280px) and (max-width:480px){
    .logoPrincipalPC{
        width: 50%;
    }
   .containerMainPC{
       width: 100%;
   }
   .centralIndex{
       display: flex;
       flex-wrap: wrap;
   }
   .h1PC{
       font-size: 2rem !important;
   }
   .h2PC{
       font-size: 1.5rem !important;
   }
  
   .listaNavPC{
        flex-direction: column;
        li{
            a{
                font-size: 1.8rem !important;
                padding: 0 !important;
                margin: 0 !important;
                letter-spacing: 10% !important;
            }
        }
       
    }
    .boxReservePC{
        display: none;
    }
    .imageNuestroespacioPC{
        width: 40rem !important;
       margin: auto;
    }
    .mainBoxNuestroEspacioPC{
        justify-items: center;
        
    }
    .blockFooterImageReservePC{
        display: none;
    }
    .imageLocation{
        display: none;
    }
    
}



