$darkest-color: #022c33;
$dark-color: #114c58;
$light-color: #93babf;
$lightest-color: #f9f9f3;
$principal-font: 'Taviraj', serif;
$secondary-font: 'Palanquin', sans-serif;
$third-font: 'Noto Serif Display', serif;
